// Variables
$lineheight-main: 1.6;
$section_marginbottom: 20px;

// text colors
$maintext_color: #293241;
$heading_color: #3d5a80;
$subheading_color: darken(#98c1d9, 10%);
$colortheme-light: #e0fbfc;
$colortheme-main_offset: #ee6c4d;

// other colors
$border-highlight: #ffe66d;