/****** Main Typography styling *********************************

*************************************************************/
body {
	font: 1.1em $text-mainFont;
}

#header a {
	text-transform: uppercase;
}

#header a, .authorskills {
	color: #fff;
}

.authorskills {
	letter-spacing: .10em;
}

#footer {
	color: $text-gray;

	small {
		font-size: 1em;
	}
}

#header, #footer, .section-title {
	font-family: $text-displayFont;	
}