/* General Styling
----------------------------- */
body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.container {	
	min-width: 900px;
	max-width: 1300px;
	margin: 0 auto;
	// border: 2px dashed black;
}









/* Section Styling
----------------------------- */
header {
	background: red;
}

.skills {
	background: lightblue;
}

.recent_projects {
	background: yellow;
}

.recent_blog {
	background: lightgray;
}

footer {
	background: red;
}