@import "partials/_general_styles";


// Colors
$header_back: lightgray; // Header background
$footer_back: lighten($header_back, 10%); // Footer background





/* General Styling
----------------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

p, h1, h2, h3, h4 {
	margin: 0 0 10px;
}

figure {
	margin: 0;
}

/* personal classes */

.container {	
	min-width: 900px;
	max-width: 1300px;
	margin: 0 auto;
	// outline: 2px dashed black;
}

#recent_projthumbs {
	overflow: hidden;
}









/* Section Styling
----------------------------- */
header {
	background: $header_back;
}

.skills {
	background: lightblue;
}

.recent_projects {
	background: yellow;
}

.recent_blog {
	background: lightblue;
}

footer {
	background: $footer_back;
}








/* Recent Projects styling
---------------------------------- */
[id^="rec_projthumb_"] {
	// border: 1px solid black;
	width: 400px;
	height: 360px;
	float: left;
	margin-right: 50px;
}

[id^="rec_projthumb_"]:last-child {
	margin-right: 0;
}