/* General Styling (basic elements)
----------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.intro-skills p {
	line-height: 2;
}

p, h1, h2, h3, h4 {
	margin: 0 0 10px;
}

figure {
	margin: 0;
}

/* personal classes */
.container {
	max-width: 1300px;
	min-width: 900px;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		display: inline-block;
	}
}

/* Main Navigation */
a:link {
	text-decoration: none;
}