/*********** global styling (basic elements) ***********/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {	
	max-width: 1600px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}


p, h1, h2, h3, h4 {
	margin: 0 0 10px;
}

figure {
	margin: 0;
}

.container {
	max-width: 1300px;
	// min-width: 900px;
	width: 90%;
	margin: 0 auto;
}

/*********** main header and footer styling ***********/
#footer{	
	padding: 20px 0;
}

#header {
	background: $header_back;
	padding: 15px 0 20px;
	// padding-bottom: 100px;
	// max-height: 180px;
	background: url('../img/header_back.jpg') no-repeat;
	// background-position: 100px 100px;
	// background-size: 1600px 180px;

	font-family: Nunito, $font-stack;
}

#footer {
	background: $footer_back;
}

#header p {
	margin-bottom: 0;
	color: $header-link-color;
}

#header p, nav {
	display: inline-block;
}

/************* main navigation & links ****************/
/* main nav */
nav {
	float: right;

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 2.2em;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

/* links */
a {
	text-decoration: none;
}

#header a {	
	color: $header-link-color;
	text-transform: uppercase;
}

.active {
		// text-decoration: underline;
		// border-bottom: 2px solid $header-link-color;
}

.link-viewall {
	margin: 0 10px;
	display: inline-block;
}