/*********** global styling (basic elements) ***********/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {	
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 157px;
}


p, h1, h2, h3, h4 {
	margin: 0 0 10px;
}

figure {
	margin: 0;
}

.container {
	max-width: 1300px;
	// min-width: 900px;
	width: 90%;
	margin: 0 auto;
}

/************* main navigation & links ****************/
/* main nav */
nav {
	float: right;

	ul {
		@include links;

		li {
			display: inline-block;
			margin-right: 2.2em;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

/* links */
a {
	color: $link-color-normal;
}

a:hover:not(#sitename) {
	opacity: .60;
}

.link-viewall {
	margin: 0 10px;
	display: inline-block;
}

#recent_projthumbs a {
	&:visited {
		color: $link-color-visited;
	}

	&:hover .project-card {
		opacity: .60;
	}
}