/*********** main header & footer styling **************/
#header, #footer{	
	padding: $section-padding;
}

#header {
	background: url('../img/header_back.jpg') no-repeat;
	padding-bottom: 20px;
	width: 100%;
	// position: fixed;
	// top: 0;
	// z-index: 999;
}

.authorskills {
	margin-bottom: 0;
}

.authorskills, nav {
	margin-top: 15px;
	display: inline-block;
}

#footer {
	background: #fff;
	text-align: center;
	margin-top: 40px;
}

/*********** general section styling **************/
section {	
	padding: $section-padding;
	border-bottom: 2px solid $brand-color-dark;
}

section:last-of-type {
	border: none;
}

.section-title {
	display: inline-block;
	margin-bottom: 30px;
}

/* images */
.intro-sections img, 
.project-card img, 
#recent_blogthumbs img {
	width: 100%;
	border-radius: 3px;
}

/***** intro & skills section ******/
.intro-skills {
	// background: pink;
	// color: black;
	min-height: 350px;

	p {
		line-height: 2.3;
	}
}

.intro-left, .intro-right {
	// outline: 1px dashed lightblue;
}

.intro-sections {
	overflow: hidden;
	// background: tan;
}


.intro-left {
	width: 70%;
	float: left;
	padding-right: 10px;
}

.intro-right {
	width: 30%;
	float: right;
}


/***** recent projects and blog section ******/
#recent_projects header,
#recent_blog header {
	margin-bottom: 60px;
	background: inherit;
}

#recent_projects header {
	margin-bottom: 60px;
}

#recent_projthumbs,
#recent_blogthumbs {
	overflow: hidden;
}

/***** recent projects section ******/
#recent_projects {
	// background: yellow;
}

#projthumbs-leftside, 
#projthumbs-rightside {
	width: 650px;
	float: left;
}

/***** recent 'project card' styling ******/
.project-card {
	width: 100%;
	margin-bottom: 50px;

	h3 {
		text-align: center;
		font-weight: normal;
		margin-bottom: 50px;
	}

	figure {
		width: 90%;
		margin: 0 auto;		
	}
}

/***** recent blog posts section ******/
#recent_blog {
	// background: lightblue;
}

#recent_blogthumbs figure {
	width: 420px;
	height: 360px;
}

#recent_blogthumbs a {
	margin: 0 20px 20px 0;
	display: inline-block;
	float: left;
}

#recent_blogthumbs a:last-of-type {
	margin-right: 0;
}