/*********** main header & footer styling **************/
#header {
	background: url('../img/header_back.jpg') no-repeat;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 100%;
	// position: fixed;
	// top: 0;
	// z-index: 999;
}

#footer {
	background: #fff;
	text-align: center;
	margin-top: 40px;
}

#header, #footer{	
	padding:  0 0 40px 0;
}

.authorskills {
	margin-bottom: 0;
}

.authorskills, nav {
	margin-top: 15px;
	display: inline-block;
}

/*********** general section styling **************/
.intro-skills, #recent_projects, #recent_blog {
	padding:  0 0 40px 0;

	header {
		padding: 20px 0 30px 10px;
		// background-color: lighten(lightgray, 5%);
		border-radius: 0 0 2px 2px;
	}
}

.section-title {
	display: inline-block;
	margin-bottom: 30px;
}


/* images */
.intro-sections img, 
.project-card img, 
#recent_blogthumbs img {
	width: 100%;
	border-radius: 3px;
}



/***** intro & skills section ******/
.intro-skills {
	border: none;
	padding-top: 20px;
	// min-height: 350px;

	p {
		line-height: 2.3;
	}
}

.intro-sections {
	overflow: hidden;
}

.intro-left {
	width: 70%;
	float: left;
	padding-right: 50px;

	.languages-learned {
		color: lighten(orange, 5%);
	}
}

.intro-right {
	width: 30%;
	float: right;
}


/***** recent projects and blog section ******/
#recent_projects header,
#recent_blog header {
	margin-bottom: 60px;
	// background: inherit;
}

#recent_projthumbs,
#recent_blogthumbs {
	overflow: hidden;
}

/***** recent projects section ******/
#recent_projects {
	border-top: 2px solid $recent_proj_sec-color;

	header {
	background-color: $recent_proj_sec-color;		
	}
}

#projthumbs-leftside, 
#projthumbs-rightside {
	width: 650px;
	float: left;
}

#recent_projthumbs img {
	width: 500px;
	height: 372px;
}

/***** recent 'project card' styling ******/
.project-card {
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
	transition: opacity 100ms ease-in;

	h3 {
		text-align: center;
		font-weight: normal;
		margin-bottom: 50px;
	}

	figure {
		width: 90%;
		margin: 0 auto;		
	}

	img {
		box-shadow: 3px 5px 7px 3px lightgray;
	}
}

/***** recent blog posts section ******/
#recent_blog {
	border-top: 2px solid $recent_blog_sec-color;

	header {
		background-color: $recent_blog_sec-color;		
	}
}

#recent_blogthumbs {

	figure {
		width: 420px;
		height: 360px;
	}

	a {
		margin: 0 20px 20px 0;
		display: inline-block;
		float: left;

		&:last-of-type {
			margin-right: 0;
		}
	}

	
}