// Colors
$text-gray: #454545; //dark-shade gray
$link-color-normal: #73D1F0; // mid-shade blue
$link-color-visited: #823274; // purple
$brand-color-dark: #523E0F; // brown

$recent_proj_sec-color: lightgray;
$recent_blog_sec-color: lightblue;

// Fonts
$sans-font-stack: Helvetica, Arial, sans-serif;
$text-displayFont: Nunito, $sans-font-stack;
$text-mainFont: Ubuntu, $sans-font-stack;

// Misc

/////////////// Mixins ///////////////
@mixin link-styles {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

