// Colors
$text-gray: #5e5e5e; //mid-shade gray
$link-color-normal: #73D1F0; // mid-shade blue
$link-color-visited: #551a8b; // purple


// Fonts
$sans-font-stack: Helvetica, Arial, sans-serif;
$text-displayFont: Nunito, $sans-font-stack;
$text-mainFont: Ubuntu, $sans-font-stack;

// Misc
$section-padding: 40px 0;

/////////////// Mixins ///////////////
@mixin links {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@mixin navLinks {
	@include links;
	display: inline-block;
}