@import 'partials/css_reset';

$line-height: 1.6;



.certs-thumbs figure {
  margin-bottom: 40px;

  img {
    margin-bottom: 10px;
  }
}

.award-title {
  margin-bottom: 10px;
  font-size: 1rem;
}

// ******  Global Styles  *******
* {
  margin: 0;
  padding: 0;
}

#header {
  margin-bottom: 50px;
}


h2, h3, h4 {
  margin-bottom: 15px;
}

section {
  margin-bottom: 30px;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: $line-height;
  margin-bottom: 10px;
}


ul {
  list-style-type: none;

  li {
    margin-bottom: 10px;
  }
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin: 20px 0;
  // margin: 10px 0;
}

.certs-filter, .certs-thumbs {
  margin-bottom: 20px;
}




.self-profile-image {
  width: 300px;
}


.skills {
  margin-bottom: 15px;
}

.contact-profile-img {
  display: block;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin: 25px auto 40px;
  // border: 1px solid red;
}

.project-card {
  margin-bottom: 50px;
}




input[type=submit] {
  
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 1.2rem;  
  // border: 1px solid initial;
}


// contacts

.availability, .pricing, .send-request {
  margin-bottom: 20px;
  padding-bottom: 10px;
  
}

.availability, .pricing {
  border-bottom: 1px solid lightgray;
}

.pricing ul {
  list-style: disc;
  list-style-position: inside;

  li {
    line-height: $line-height;
  }
}





// thumb styles
.thumb-title {
  margin-bottom: 15px;
}

.thumb-info li {
  margin-bottom: 5px;
  // outline: 1px solid red;
}



.thumb-likes-count, .thumb-comment-count {
  font-weight: bolder;
}


// section styles
.container {
  padding: 0 10px;
}

footer {
  padding: 15px 0;  
}

.recent_post_thumb {
  margin-bottom: 60px;
}

.thumb-author, .thumb-social {
  margin-right: 1rem;
}

.recent_post_thumb img, .project-card img {
  width: 245px;
  margin-bottom: 15px;
}

#contact-socialmedia {
  margin-bottom: 30px;
}



.thumb-info {  

  padding: 10px 0;
  margin-bottom: 10px;
  // background: #90d383;
}




/******** Footer styles ************/


.social-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  li {
    width: 60px;
    // outline: 1px solid red;
  }
}

.link-viewall {
  display: inline-block;
  margin-top: 1.2rem;
}

.link-readmore {
  font-size: .95rem;
}



.footer-legal  {
  font-size: .80rem;
  text-align: center;
  color: #919191;

  p {
    margin-bottom: 10px;
  }

  
}

.social-icon-disclaimer {
  color: #19AE41;
}