@import 'partials/css_reset'; // reset css
@import 'partials/config'; // include scss config/variable file

/*********** Global styles ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: $maintext_color;
}

// button & link styles
.listlink-mobile a,
a.listlink-mobile {
  display: block;
  margin: 1.2rem 0 10px;
  border: 1px solid #cecece;
  padding: 25px 10px;
  text-align: center;
  text-decoration: none;
}

header a,
.recent_project-thumb a,
.thumb-title a {
  text-decoration: none;
}

/*********** Image styles ***********/
img {
  max-width: 100%;
}

.contact-profileimage img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 25px auto 40px;
}

.contact-profileimage img,
.projectcard-image {
  display: block;
}

.projectcard-image {
  width: 100%;
  margin: 0 auto 30px;
}

/*********** List styles ***********/
ul {
  list-style-type: none;

  li {
    margin-bottom: 10px;
  }
}

.pricing li {
  line-height: $lineheight-main;
  margin-bottom: 30px;
}

.intro-devskills li,
.tech_skills li,
.certs-list li {
  color: $colortheme-main_offset;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  li {
    width: 60px;
  }
}

/*********** Typography styles ***********/
h1,
h2,
h3,
h4 {
  margin-bottom: 15px;
  color: $heading_color;
}

p {
  line-height: $lineheight-main;
  margin-bottom: 10px;
}



nav {
  display: none;
}

.site-name {
  font-size: 1.8rem;
  text-transform: lowercase;
  font-family: 'permanent marker';
  font-weight: normal;
}

.middle-v {
  text-transform: uppercase;
  font-size: 2rem;
}

.subhead {
  color: $subheading_color;
  font-size: 1rem;
}



.award-title {
  font-size: 1rem;
  margin: 10px 0 15px;
}



.section-title {
  @include text-shadow(lighten($subheading_color, 15%));
  margin-bottom: 30px;
}

.section-title+p {
  margin-top: -10px;
}



/*********** Layout styles ***********/


.container {
  padding: 0 10px;
}

.nav-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px 0;
}

section,
#intro>div,
.certs-filter,
#current-project {
  margin-bottom: $section_marginbottom;
}

.nav-header a,
.fa-bars {
  color: #fff;
}

.fa-bars {
  font-size: 25px;
  cursor: pointer;
}

#header {
  background: url(../img/header_bg.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2;
}

.navigation {
  display: none;
  border: 1px dashed limegreen;

}




/********** Card & thumb styles **********/
// card styles
.project-card {
  margin-bottom: 50px;
}

// thumb styles
.recent_project-thumb,
.recent_post-thumb,
.certs-thumbs figure {
  margin-bottom: 40px;
}

.thumb-title {
  margin-bottom: 15px;
}

.thumb-dateposted {
  font-size: 0.90rem;
  font-style: italic;
  margin: -2px 0 15px;
}

.thumb-social {
  margin-right: 10px;
}

.project_thumb-info,
.recent_posts-thumb-info {
  padding: 10px 0;
  margin-bottom: 10px;
}

.thumb-likes-count,
.thumb-comment-count {
  font-weight: bolder;
}

/*********** Form styles ***********/
input[type=submit] {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 1.2rem;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin: 20px 0;
  border-radius: 0;
}



/*********** Contact page styles ***********/
.availability,
.pricing {
  border-bottom: 1px solid #d3d3d3;
}

.availability,
.pricing,
.contact-sendrequest {
  padding: 20px 0;
}

/*********** Footer styles ***********/
footer {
  padding: 15px 0;
}

.footer-legal {
  font-size: .90rem;
  text-align: center;
  color: #919191;
}

.social-icons8-disclaimer {
  color: #19AE41;
}