@import 'partials/css_reset';

// testing sections via colors
#header {
  background: rgb(252, 252, 139);
}

#intro-skills, #projects {
  background: #ffe1aa;
}

#recent_projects, #selected_project {
  background: #ffacac;
}

#recent_posts, #current-project {
  background: #34f5c5;
}

#tech_skills-filter {
  background: #77ec77;
}

// ******  Global Styles  *******
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}


ul {
  list-style-type: none;
}

textarea {
  width: 100%;
  height: 100px;
}



// thumb styles


.thumb-info li {
  margin-bottom: 10px;
}


// section styles
.container {
  padding: 0 10px;
}

footer {
  padding: 15px 0;  
}

/******** Footer styles ************/


.social-links ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  li {
    width: 60px;
    // outline: 1px solid red;
  }
}


.footer-legal  {
  font-size: .80rem;
  text-align: center;
  color: #919191;

  p {
    margin-bottom: 10px;
  }

  
}

.social-icon-disclaimer {
  color: #19AE41;
}